# Dataset Cleaning
*(This notebook was inspired by Anton T. Ruberts' Dataset Cleaning notebook.)*

The main objectives of this notebook are:
- Observe the contents of the dataset,
- handle missing, duplicate, incorrect, or outlier values, and
- export the cleaned data.

In [35]:
import pandas as pd

## Loading the dataset

In [36]:
data = pd.read_csv('../data/coffee.csv')
data.head(-10)

,transaction_id,transaction_date,transaction_time,store_id,store_location,product_id,transaction_qty,unit_price,Total_Bill,product_category,product_type,product_detail,Size,Month Name,Day Name,Hour,Month,Day of Week
0,1,1/1/2023,7:06:11,5,Lower Manhattan,32,2,3.00,6.0,Coffee,Gourmet brewed coffee,Ethiopia,Regular,January,Sunday,7,1,6
1,2,1/1/2023,7:08:56,5,Lower Manhattan,57,2,3.10,6.2,Tea,Brewed Chai tea,Spicy Eye Opener Chai,Large,January,Sunday,7,1,6
2,3,1/1/2023,7:14:04,5,Lower Manhattan,59,2,4.50,9.0,Drinking Chocolate,Hot chocolate,Dark chocolate,Large,January,Sunday,7,1,6
3,4,1/1/2023,7:20:24,5,Lower Manhattan,22,1,2.00,2.0,Coffee,Drip coffee,Our Old Time Diner Blend,Small,January,Sunday,7,1,6
4,5,1/1/2023,7:22:41,5,Lower Manhattan,57,2,3.10,6.2,Tea,Brewed Chai tea,Spicy Eye Opener Chai,Large,January,Sunday,7,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149101,149442,30-06-2023,19:46:28,8,Hell's Kitchen,75,1,3.50,3.5,Bakery,Pastry,Croissant,Not Defined,June,Friday,19,6,4
149102,149443,30-06-2023,19:46:43,3,Astoria,50,2,2.50,5.0,Tea,Brewed Black tea,Earl Grey,Regular,June,Friday,19,6,4
149103,149444,30-06-2023,19:51:59,3,Astoria,26,2,3.00,6.0,Coffee,Organic brewed coffee,Brazilian,Regular,June,Friday,19,6,4
149104,149445,30-06-2023,19:52:28,3,Astoria,34,2,2.45,4.9,Coffee,Premium brewed coffee,Jamaican Coffee River,Small,June,Friday,19,6,4
149105,149446,30-06-2023,19:53:46,3,Astoria,24,1,3.00,3.0,Coffee,Drip coffee,Our Old Time Diner Blend,Large,June,Friday,19,6,4

## Initial exploration of the data

In [37]:
print("Dataset shape:", data.shape)
print("Dataset columns:", data.columns)

Dataset shape: (149116, 18)
Dataset columns: Index(['transaction_id', 'transaction_date', 'transaction_time', 'store_id',
       'store_location', 'product_id', 'transaction_qty', 'unit_price',
       'Total_Bill', 'product_category', 'product_type', 'product_detail',
       'Size', 'Month Name', 'Day Name', 'Hour', 'Month', 'Day of Week'],
      dtype='object')

In [38]:
data.describe()

,transaction_id,store_id,product_id,transaction_qty,unit_price,Total_Bill,Hour,Month,Day of Week
count,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000
mean,74737.371872,5.342063,47.918607,1.438276,3.382219,4.686367,11.735790,3.988881,2.982336
std,43153.600016,2.074241,17.930020,0.542509,2.658723,4.227099,3.764662,1.673091,1.996650
min,1.000000,3.000000,1.000000,1.000000,0.800000,0.800000,6.000000,1.000000,0.000000
25%,37335.750000,3.000000,33.000000,1.000000,2.500000,3.000000,9.000000,3.000000,1.000000
50%,74727.500000,5.000000,47.000000,1.000000,3.000000,3.750000,11.000000,4.000000,3.000000
75%,112094.250000,8.000000,60.000000,2.000000,3.750000,6.000000,15.000000,5.000000,5.000000
max,149456.000000,8.000000,87.000000,8.000000,45.000000,360.000000,20.000000,6.000000,6.000000

**Observations**
- How clean is it? How many has missing values?
- Are there significant columns in the data set (which may be used in merging)?
- Are there extreme outliers?

**Outcome(s)**
- Are there columns that need to be dropped because they serve no purpose? We can remove the `product_id` since `product_type` serves a better purpose.

In [39]:
data.drop(['transaction_id', 'transaction_time', 'store_id', 'product_id', 'Month', 'Day of Week'], axis=1, inplace=True)

### Missing Data

In [40]:
data.isna().sum()

transaction_date    0
store_location      0
transaction_qty     0
unit_price          0
Total_Bill          0
product_category    0
product_type        0
product_detail      0
Size                0
Month Name          0
Day Name            0
Hour                0
dtype: int64

**Observations**
- Where do the missing data come from? Are there missing entries associated with a category/value of a column?

**Outcome(s)**
- Can the rows be dropped? Why?

### Outliers

In [41]:
# checking for outlier

# iqr = iqr(df['col'])
# lower_threshold = np.quantile(df['col'], 0.25) - 1.5 * iqr
# upper_threshold = np.quantile(df['col'], 0.75) + 1.5 * iqr
# outlier = df[(df['col'] < lower_threshold) | (df['col'] > upper_threshold)]
# outlier

**Observations**
- Where do the outliers come from? Are there outliers associated with a category/value of a column?

**Outcome(s)**
- Can the rows be dropped? Why? Is it representative of the data?

## Data Pre-processing Pipeline

For this coffee dataset, we have a clean dataset such that we do not have to apply a pipeline. Nonetheless, I'm leaving this section here to serve as a template for future projects.

In [42]:
data['transaction_date'] = pd.to_datetime(data['transaction_date'], format="mixed", dayfirst=True)

data.to_csv('../data/coffee_cleaned.csv', index=False)

In [43]:
data.head()

,transaction_date,store_location,transaction_qty,unit_price,Total_Bill,product_category,product_type,product_detail,Size,Month Name,Day Name,Hour
0,2023-01-01,Lower Manhattan,2,3.0,6.0,Coffee,Gourmet brewed coffee,Ethiopia,Regular,January,Sunday,7
1,2023-01-01,Lower Manhattan,2,3.1,6.2,Tea,Brewed Chai tea,Spicy Eye Opener Chai,Large,January,Sunday,7
2,2023-01-01,Lower Manhattan,2,4.5,9.0,Drinking Chocolate,Hot chocolate,Dark chocolate,Large,January,Sunday,7
3,2023-01-01,Lower Manhattan,1,2.0,2.0,Coffee,Drip coffee,Our Old Time Diner Blend,Small,January,Sunday,7
4,2023-01-01,Lower Manhattan,2,3.1,6.2,Tea,Brewed Chai tea,Spicy Eye Opener Chai,Large,January,Sunday,7